<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>知乎离线收藏夹</title>
	<script src="{{static '/js/jquery.js'}}"></script>
	<script src="{{static '/js/get.js'}}"></script>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">	
</head>
	<body>
		<div id="content">
			<div id="column2" class="interior">
				<div class="toc-title">
					<h3 id="collection-list"> 收藏夹 </h3>
				</div>
				<div class="toc-list" >
					<ul>
						{{#each collections}}
						<li><a href="/collection/{{this.id}}">{{this.title}}</a></li>
						{{/each}}
					</ul>
				</div>
				<div class="toc-title">
					<h3 id="post-list"> 专栏 </h3>
				</div>
				<div class="toc-list" >
					<ul>
						{{#each posts}}
						<li><a href="/column/{{this.columnSlug}}">{{this.columnName}}</a></li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div id="column1" class="interior">
				<div id="questions">
					<ul>
					</ul>
				</div>
				<div id="answers">
				</div>
			</div>
		</div>
		<div class="scroll-top-wrapper ">
			<span class="scroll-top-inner">
				<i class="fa fa-2x fa-arrow-circle-up"></i>
			</span>
		</div>
	</body>
</html>

